<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/UI/about_us.css">
</head>
<body>
    <a href="/home">Back to Home Page</a>
    <h1>About Us</h1>
    <p>This is Jeremy's Capstone Project!</p><br>
    <p>We had to make a web application with business logic.</p><br>
    <p>My project runs simulations to represent a day of customers making orders at an ice cream store!</p><br>
    <p>I collect the data by inserting it into a database and I used SQLite for my DB.</p><br>
    <p>I then use that data to display the results, make charts, use AI, and make aggregate calculations.</p><br>
    <p>I used the SUM function, AVG function, and the CEIL functions in some of my queries to the DB.</p><br>
    <p>I used Matplotlib to make the charts that were rendered by my templates.</p><br>
    <p>I used Ski Kit Learning for the AI and I displayed the Mean Squared Error to see how accurate it was.</p>
</body>
</html>