<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/UI/home.css">
</head>
<body>
    <div class="navbar">
        <a href="/simulation">Simulation</a>
        <a href="/statistics">Statistics</a>
        <a href="/about_us">About Us</a>
        <a href="/feedback">Feedback</a>
        <a href="/login">Logout</a>
    </div><br>
    <h1>Welcome To Jeremy's Ice Cream Simulation</h1><br>
    <p>Be sure to visit our simulation page to run simulations on our Ice Cream Store!</p><br>
    <p>Be sure to view the statistics page to see the data on the simulations!</p><br>
    <p>We even use Artificial Intelligence on our data!</p><br>
    <p>Be sure to see the About Us Page to learn more about us!</p><br>
    <p>Be sure to visit the Feedback Page to submit any kind of feedback!</p><br>
    <p>Be sure to logout when you finish with your session!</p>
</body>
</html>
