<html>
<head>
    <title>Statistics</title>
    <link rel="stylesheet" href="/static/UI/home.css">
</head>
<body>
    <div class="links">
        <a href="/home">Back to Home Page</a>
    </div>
    <h1>Statistics Page</h1>
    <h2>Statistics Tables</h2>
    <div class="navbar">
        <a href="/flavor_count_data">Daily Flavor Count Data</a>
        <a href="/truck_report">Truck Report Every 10 Days</a>
        <a href="/total_purchases">Total Purchases</a>
        <a href="/flavor_count_AI">Flavor Count (AI)</a>
        <a href="/truck_order_AI">Truck Order (AI)</a>
    </div><br>
    <h2>Charts</h2>
    <div class="navbar">
        <a href="/truck_chart_AI">Truck Chart (AI)</a>
        <a href="/truck_chart">Truck Chart</a>
        <a href="/purchase_chart">Purchases Chart</a>
        <a href="/purchases_over_time">Purchases Over Time Chart</a>
    </div><br>
    <h2>Aggregate Charts</h2>
    <div class="navbar">
        <a href="/average_purchases">Average Purchases</a>
        <a href="/average_truck_order">Average Truck Order</a>
        <a href="/avg_customer_simulation">Average Customer Simulation Chart</a>
        <a href="/total_sales">Total Sales Chart</a>
    </div><br>
    <h2>Simulation Charts</h2>
    <div class="navbar">
        <a href="/summer_simulation_chart">Summer Simulation Chart</a>
        <a href="/winter_simulation_chart">Winter Simulation Chart</a>
        <a href="/customer_simulation_chart">Customer Simulation Chart</a>
    </div><br>
</body>
</html>
